@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
/* background-color: #0e1012; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabinet Grotesk", sans-serif;
  background-color: #e4e3e3;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.registerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.fa-dev {
  font-size: 4rem;
  color: #0e1012;
}

.logo h1 {
  font-size: 3.8rem;
  font-weight: 800;
  color: #0e1012;
}

.logo h1::first-letter {
  color: tomato;
  font-size: 5rem;
}

img {
  width: 32rem;
  height: 36rem;
  border-radius: 5px;
}

#tag {
  text-align: center;
  padding-bottom: 0.5rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.form input,
.form #btnSubmit {
  width: 25rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 5px;
}

.form input::placeholder {
  color: #0e1012;
}

.captcha {
  display: flex;
  align-items: center;
}

.form #captcha {
  padding: 0rem;
  letter-spacing: 0.8rem;
  font-size: 4rem;
  text-align: center;
  font-family: "Covered By Your Grace", cursive;
  background-image: url("https://codingnepalweb.com/demos/custom-captcha-in-javascript/captcha-bg.png");
}

.fa-arrows-rotate {
  position: relative;
  right: 4rem;
  cursor: pointer;
  font-size: 2rem;
}

.form #btnSubmit {
  cursor: pointer;
  background-color: #0e1012;
  color: #e4e3e3;
  transition: 0.2s ease-in-out;
  font-weight: 700;
}

.form #btnSubmit:hover {
  background-color: #e4e3e3;
  color: #0e1012;
}

.message {
  font-size: 1.5rem;
  font-weight: 500;
}
