* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabinet Grotesk", sans-serif;
  background-color: #e4e3e3;
}

.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerForm h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
}

img {
  width: 24rem;
  height: 28rem;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form input,
form #btnSubmit {
  width: 18rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 5px;
}

.captcha {
  display: grid;
  grid-template-columns: 75% 25%;
}

form #captcha {
  padding: 1rem 0.5rem;
  font-size: 2rem;
  text-align: center;
}

form #btnSubmit {
  cursor: pointer;
}
